* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'vazir';
/*   user-select: none; */
  color: #2B2A33;
}

@font-face {
  font-family: vazir;
  src: url('Vazir-Regular.ttf');
}

body {
  transition: .3s;
  padding: 150px 150px 0;
  background: #F5F5F5;
}

h1 {
  text-align: center;
  transition: color .3s;
  font-size: 45px;
  line-height: 0;
}

p {
  transition: color .3s;
  text-align: right;
  margin-top: 80px;
  font-size: 30px;
  line-height: 1.4;
}

.buttons {
  position: absolute;
  bottom: 120px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

span {
  height: 50px;
  width: 50px;
  margin: 0 5px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.language {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  letter-spacing: 1px;
  color: white;
  cursor: default;
  text-transform: uppercase;
}

.dark>.language {
  background-image: url('img/language-lite.webp');
}

.lite>.language {
  background-image: url('img/language-dark.webp');
}

.telegram {
  transition: color .3s;
  font-size: 20px;
  position: absolute;
  text-align: center;
  bottom: 50px;
  left: 0;
  right: 0;
}

@media screen and (max-width: 992px) {
  body {
    padding: 110px 80px 0;
  }
  
  h1 {
    font-size: 40px;
  }
  
  p {
    font-size: 28px;
    line-height: 1.5;
  }
  
  .buttons {
    bottom: 110px;
  }
  
  .telegram {
    bottom: 40px;
  }
}

@media screen and (max-width: 550px) {
  body {
    padding: 80px 30px 0;
  }

  h1 {
    font-size: 30px;
  }
  
  p {
    font-size: 25px;
    line-height: 1.6;
  }
  
  .buttons {
    bottom: 80px;
  }
  
  .telegram {
    bottom: 30px;
  }
}
